/* components/ClickCounterTable.module.css */
.tableContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    /* box-shadow: 0px 0px 10px #eee; */
}

.clickTable {
    width: 100%;
    border-collapse: collapse;
}

.clickTable th,
.clickTable td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.clickTable th {
    background-color: #000000;
}