.container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.topForm {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.form {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="%23cccccc" d="M5 8l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.25rem;

}

.form option {
    background: #f0f0f0;
    color: #333;
}

.underForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 10vh;
    margin: 5px auto;
}

.underForm button {
    font-size: 16px;
    background: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
}


.underForm button:hover {
    background-color: #0056b3;
}