.container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.topForm {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.form {
    font-size: 16px;
    text-align: center;
}

.underForm {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 10px auto;
}

.underForm button {
    font-size: 16px;
    background: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.underForm button:hover {
    background-color: #0056b3;
}