.main {
  display: flex;
  /* Flexコンテナとして設定 */
  flex-direction: column;
  /* 子要素を縦方向に並べる */
  justify-content: center;
  /* 子要素を縦方向の中央に配置 */
  align-items: center;
  /* 子要素を横方向の中央に配置 */
  min-height: 66vh;
  /* 画面の高さの3分の2 */
  text-align: center;
  /* テキストを中央寄せ */
  background-image: url('/toppage.jpg');
  /* 'public' ディレクトリ内の画像へのパス */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* 画像が中央に来るように */
}

.title {
  margin: 0;
  /* タイトルの余白を取り除く */
}

.transferButton {
  margin-top: 2rem;
  /* 転移ボタンの上の余白を調整 */
  /* 他のスタイルはそのまま */
}


.cardContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.transferButton {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.transferButton:hover {
  background-color: #0056b3;
}

.imageContainer {
  display: flex;
  justify-content: space-around;
  /* これでカード間に均等なスペースを作る */
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;
  padding-top: 12rem;
}

/* 以下のメディアクエリでレスポンシブ対応も可能 */
@media (max-width: 600px) {
  .imageContainer {
    flex-direction: column;
    /* スマートフォン等の狭いビューポートでは縦並びにする */
  }
}