.usecase {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.usecaseImage {
    height: 250px;
    margin-right: 10rem;
    border-radius: 15px;
}

.usecaseItem {
    color: black;
    width: 300px;
    text-align: center;
}

.header {
    margin: 15px;
    line-height: 100px;
}


@media (max-width: 768px) {
    .usecase {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .usecaseImage {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 80%;
        height: auto;
        border-radius: 15px;
    }

    .usecaseItem {
        width: 90%;
        text-align: center;
    }

    .header {
        margin: 10px 0;
        line-height: 1.5;
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
    }
}