.progressBarContainer {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progressBar {
    height: 20px;
    background-color: #0070f3;
    border-radius: 5px;
    width: 0%;
    transition: width 0.4s ease;
}

.progressBarText {
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 80%;
}